.network
{
width: 1500px;
height 800px;
}
.graph
{
width: 1100px;
height 750px;
  float: left;
}
.data
{
  float: right;
  width: 300px;
  height: 700;
  overflow-y:auto;
}
.right
{
float: right;
}

.left
{
float: left;
}
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}
.node :hover {
  fill: black ;
}
.link {
  stroke: #999;
  stroke-opacity: .6;
}

.node text {
  font: 9px helvetica;
}

.node text {
  font: 9px helvetica;
}

d3-tip {
    line-height: 1;
    color: black;
}

d3-tip :hover {
   fill: blue ;
}




table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

tbody tr:hover {
  background: yellow;
}