html, body, .row{
    height: 100%
}

.row {
    padding-top: 3px
}

.footer
{
 border: none;
}

#graph-container{
    height: 100%;
}


#graph_container{
    padding-top: 10px;
    height: 100%;
}

#graph
{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 43px;
    right: 0;
}

#tab-contents
{
    padding : 0px;
    margin  : 10px 0px 0px 0px;
}

#nodesandlinks .dataTables_wrapper {
    padding: 10px;
}
#nodesandlinks .nav-tabs {
    margin-left: 10px;
}

.main_content
{
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
}

.data_container
{
    width: 350px;
    position: absolute;
    top: 140px;
    right: 130px;

    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0px 0px 2px #aaa;
    padding: 5px;
    z-index: 1000;

}
.data_container table
{
    margin: auto;
    margin-bottom: 5px;
}

.timeseries_gr
{
      float: right;
      width: 550px;
      padding-left: 30px;
      padding-top: 50px;
      padding-bottom: 50px;
      margin: auto;
      border: 0px;

 }
.right
{
      float: right;
      padding-top: 30px;
      padding-bottom: 30px;
      margin: auto;
      border: 0px;
}

.left
{
float: left;
}
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}
.node :hover {
  fill: black ;
}


.link {
  stroke: #999;
  stroke-opacity: .6;
}



.node text {
  font: 19px helvetica;
}

d3-tip {
    line-height: 1;
    color: black;
}

d3-tip :hover {
   fill: blue ;
}


/*.table {
  border-collapse: collapse;
  width: 300px;
  height: 600 px;
}*/

th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

#data tbody tr {
  background: #eee;
  opacity: 0.9;
}

tbody tr:hover {
  background: #e7e7e7;
}

.attr_table
{
 align: center;
}


path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 0;
}

.graph_title
{
 color: blue;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}


.networkoptions{
    padding: 00px 20px 0px 50px;
}

.svg-buttons{
    display: block;
    width: 35px;
    margin-top: 10px;
    margin-left: 10px;
}

.force-layout{
    position:relative;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

#content{
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#footer{
    position:absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

