/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#palette {
  /*background: #f5f5f0;*/
  float:left;
  -moz-box-flex: 0;       /* Mozilla */
  -webkit-box-flex: 0;
  margin: 0ex 0.25em 0ex 0em;

}

#palette .shapecontainer{
    margin: 0.25ex 0.25em;
    display: inline-block;
}
#palette .shapecontainer:hover{
    background: #efefef;
}
#palette .draggablebox{
}

#palette .palettesvg{
    width: 30px;
    height: 30px;
    cursor: move;
}

#palette .palettesvg .type{
    cursor: move;
}

.palettesvg{
    outline: none;
}
