/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#palette {
  background: #f5f5f0;
  float:left;
  height: 100%;
  -moz-box-flex: 0;       /* Mozilla */
  -webkit-box-flex: 0;
  margin: 0ex 0.25em 0ex 0em;

}

#palette .shapecontainer{
    margin: 0.25ex 0.25em;
}
#palette .shapecontainer:hover{
    background: #e1e1e1;
}
#palette .draggablebox{
}

#palette .palettesvg{
    width: 20px;
    height: 20px;
    cursor: move;
}

#palette .palettesvg .type{
    cursor: move;
}
