<tbody class="attributedetails" style="">
    {%for ta in resourcetype.typeattrs%}
        <tr class="attributedetail attr-{{ta.attr_id|int}}">
            <td class="">{{attr_id_name_lookup[ta.attr_id]}}</td>

            <td>Variable? <input type="checkbox" name="is_var" {%if ta.attr_is_var == 'Y'%}checked="checked"{%endif%}></input></td>
            <td class="datatypecontainer">
                <select name="data_type" class="data_types selectpicker">
                    <option value="scalar" {%if ta.data_type == 'scalar'%}selected{%endif%}>Single Number</option>
                    <option value="timeseries" {%if ta.data_type == 'timeseries'%}selected{%endif%}>Time Series</option>
                    <option value="array" {%if ta.data_type == 'array'%}selected{%endif%}>Array</option>
                    <option value="descriptor" {%if ta.data_type == 'array'%}selected{%endif%}>Free Text</option>
                </select>
            </td>
            <td class="defautvaluecontainer dataset">
                <input type="hidden" name="attr_name" value="{{attr_id_name_lookup[ta.attr_id]}}"></input>
                <input name="value" type="" 
                    {%if ta.data_type%}
                        class="{{ta.data_type}}"
                    {%endif%}
                    {%if ta.default_dataset%}
                        value={{ta.default_dataset.value|safe}}
                    {%endif%}
                    >
                </input>
                <input name="metadata" type="hidden" 
                    {%if ta.default_dataset and ta.default_dataset.metadata%}
                        value="{{ta.default_dataset.metadata.as_json()}}"
                        {%endif%}>
                </input>
            </td>
        </tr>
    {%endfor%}
</tbody>
