<form id="save-resource-attributes" action="#">
<input type="hidden" name="resource_id" value="{{resource_id}}"></input>
<input type="hidden" name="scenario_id" value="{{scenario_id}}"></input>
<input type="hidden" name="res_type" value="{{resource_type}}"></input>
<div class="menubar btn-group" role="group" aria-label="...">
{{resource.name}}
<button type="button" class="btn btn-xs btn-danger close-resource-data pull-right">
    <span class="glyphicon glyphicon-remove"></span>
</button>
</div>

<div class="data-table-container">
<table type="table" class="table">
    <tr id="resource-name" style="border-bottom:2px solid black">
        <td>Name</td>
        <td>
            <input type="text" name="resource_name" value="{{resource.name}}"></input>
            <input type="hidden" name="resource_id" value="{{resource.id}}"></input>
        </td>
    </tr>
    {%for rs in resource_scenarios%}
            {%if rs.dataset%}
                {%set data_type = rs.dataset.data_type%}
            {%elif rs.data_type%}
                {%set data_type = rs.data_type%}
            {%else%}    
                {%set data_type = None%}
            {%endif%}
        <tr class="attribute">
            <td><div class="attr_name">{{attr_id_name_map[rs.attr_id]}}</div></td>
            <td>
                <div class='dataset'>
                <input type="hidden" name="attr_id" value="{{rs.attr_id}}"></input>
                <input type="hidden" name="attr_name" value="{{attr_id_name_map[rs.attr_id]}}"></input>
                <input type="hidden" name="rs_id" value="{{rs.rs_id}}"></input>
                <input type="hidden" name="ra_id" value="{{rs.ra_id}}"></input>
                <input type="hidden" name="dataset_id" value="{{rs.dataset.dataset_id}}"></input>
                <input type="hidden" name="metadata" 
                {%if rs.dataset and rs.dataset.metadata%}
                    value="{{rs.dataset.metadata.as_json()}}"
                {%else%}
                    value=""
                {%endif%}
                ></input>
                <input type="hidden" name="dataset_name" value="{{rs.dataset.data_name}}"></input>
                <input type="hidden" name="data_type" value="{%if data_type%}{{data_type}}{%else%}'scalar'{%endif%}"></input>
                {%if data_type == "descriptor"%}
                    {%if rs.dataset and rs.dataset.metadata and rs.dataset.metadata.get('sol_type') == 'MGA'%}
                        <input type="hidden" name="value"  value={%if rs.dataset.value%}'{{rs.dataset.value|safe}}'{%else%}""{%endif%}   class="multiresult polyvis hashtable"></input>
                    {%elif rs.dataset and rs.dataset.metadata and (rs.dataset.metadata.get('data_type') == 'hashtable' or rs.dataset.metadata.get('type') == 'hashtable_seasonal')%}
                        <input type="hidden" name="value"  value={%if rs.dataset.value%}'{{rs.dataset.value|safe}}'{%else%}""{%endif%}   class="hashtable"></input>
                    {%else%}
                        <input type="text" name="value"  value={%if rs.dataset and rs.dataset.value%}'{{rs.dataset.value|safe}}'{%else%}""{%endif%}  class="{{data_type}}"></input>
                    {%endif%}
                {%elif data_type == "scalar"%}

                    <input type="number" name="value"  step="any" value={%if rs.dataset and rs.dataset.value not in ('', None)%}{{rs.dataset.value}}{%else%}""{%endif%}  class="{{data_type}}"></input>
                {%elif data_type == "array"%}

                    {%if rs.dataset and rs.dataset.metadata and (rs.dataset.metadata.get('data_type') == 'hashtable' or rs.dataset.metadata.get('type') == 'hashtable_seasonal')%}
                        <input type="hidden" name="value"  value={%if rs.dataset.value%}'{{rs.dataset.value|safe}}'{%else%}""{%endif%}   class="{{data_type}} hashtable"></input>
                    {%else%}
                        <input type="hidden" name="value" value={%if rs.dataset and rs.dataset.value%}'{{rs.dataset.value}}'{%else%}""{%endif%} class="{{data_type}}"></input>
                    {%endif%}
                {%elif data_type == "timeseries"%}

                    <input type="hidden" name="value"  value={%if rs.dataset and rs.dataset.value%}'{{rs.dataset.value}}'{%else%}""{%endif%}   class="{{data_type}} hashtable"></input>
                {%else%}
                    <input type="number" name="value" step="any" class="{{data_type}}" value={%if rs.dataset and rs.dataset.value not in (None, '')%}{{rs.dataset.value}}{%else%}""{%endif%}></input>
                {%endif%}
                </div>
            </td>
        </tr>
    {%endfor%}
</table>
</div><!--data table container-->
</form>

<div class="btn-group" role="group" aria-label="...">
<button type="button" class="btn btn-danger close-resource-data">Close</button>
</div>
<div class="btn-group pull-right" role="group" aria-label="...">
<button type="button" class="btn btn-success save-resource-data">Save</button>
</div>
