<tbody class="attributedetails" style="">
    {%for ta in resourcetype.typeattrs%}
        <tr class="attributedetail attr-{{ta.attr_id|int}}">
            <td>{{attr_id_name_lookup[ta.attr_id]}}</td>
            <td class="datatypecontainer">
                <select name="data_type" class="data_types selectpicker">
                    <option value="scalar" {%if ta.data_type == 'scalar'%}selected{%endif%}>Single Number</option>
                    <option value="timeseries" {%if ta.data_type == 'timeseries'%}selected{%endif%}>Time Series</option>
                    <option value="array" {%if ta.data_type == 'array'%}selected{%endif%}>Array</option>
                    <option value="descriptor" {%if ta.data_type == 'array'%}selected{%endif%}>Free Text</option>
                </select>
            </td>
            <td class="defautvaluecontainer dataset">
                <input name="value" type="" 
                    {%if ta.data_type%}
                        class="{{ta.data_type}}"
                    {%endif%}
                    {%if ta.default_dataset%}
                        value={{ta.default_dataset.value}}
                    {%endif%}
                    >
                </input>
            </td>
        </tr>
    {%endfor%}
</tbody>
