<!-- Navbar -->
 <nav role="navigation" class="navbar navbar-inverse">
     <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">HydraPlatform</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Projects<b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="/">Projects list</a></li>
                    </ul>
                </li>


     <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Networks<b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="{{url_for ('go_create_network')}}">Create network</a></li>
                    </ul>
                </li>

<li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Applications<b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">GamsApp</a></li>
                        <li><a href="#">MatlabApp</a></li>
                        <li><a href="#">PywrApp</a></li>
                         <li class="divider"></li>
                        <li><a href="#">ExcelApp></a></li>
                    </ul>
         <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Addminstration<b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Add application</a></li>
                        <li><a href="#">Users managment</a></li>
                    </ul>
                </li>
                </li>      <li><a href="#">About</a></li>

    </ul>
    <form role="search" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control">
                </div>
      </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url_for('do_logout') }}">Logout</a></li>
      <!--<li><a href="/admin">Admin</a></li>-->
  </ul>
</div>
</nav>