{% extends "page_layout.html" %}
{% block title %}Import from CSV{% endblock %}
{% block content %}


<div id="csv_importer"   class ="buttons">


    <div class="blue">Please upload the network zip file which contains all the required csv files.<br>The network file name needs to be “network.csv”
    </div>

   <form action = "/uploader" method = "POST"  enctype = "multipart/form-data" >
                     <input type = "file" name = "file"  title="CSV file" class="bb"/>
                     <input type = "submit" value="Upload" class="bb" />
   </form>
</div>
{% endblock %}