<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Hydra Platform</title>

<script src="{{ url_for('static', filename='js/js.cookie.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}"/>
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/style.css') }}"/>
