 <div id="network_details">
        <table id="network_table" class="table">
          <thead>
            <tr>
              <th>Network name</th>
              <th>Description</th>
              <th>Projection</th>
            </tr>
          </thead>
          <tbody>
            <tr id="network_{{network.network_id}}" class="tablerow networkrow">
                <td>{{network.network_name}}</td>
                <td>{{network.network_description}}</td>
                <td>{{network.projection}}</td>
            </tr>
          </tbody>
      </table>


      </div>
