<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/network.css') }}"/>

<head>
  <title>Network {{network.network_name}}</title>

  <script>
  // set up initial nodes and links
  //  - nodes are known by 'id', not by index in array.
  //  - reflexive edges are indicated on the node (as a bold black circle).
  //  - links are always source < target; edge directions are set by 'left' and 'right'.
    var scenario_id={{scenario_id}};
    var data_={{node_name_map|tojson}};
    function get_name(id)
    {
    value='None'
    for (i in data_)
    {
        if(data_[i].id==id)
        {
            value=data_[i].name;
            break;
        }
    }
     return value;
     }

     var nodes_=[]
     nodes_={{nodes_|tojson}}

   var links_=[];
   var links_={{links_|tojson}}

    var min_x = {{extents['min_x']}};
    var max_x = {{extents['max_x']}};
    var min_y = {{extents['min_y']}};
    var max_y = {{extents['max_y']}};

    var nodes = [];
    var node_coords = {};
    var lastNodeId = null;
    {% for id, coord in node_coords.items()%}
      nodes.push(
        {
          'id': {{id}},
          'reflexive':false,
          'x':{{coord[0]}},
          'y':{{coord[1]}},
        }
      )
      lastNodeId={{id}};
      node_coords[{{id}}] = [{{coord[0]}}, {{coord[1]}}];
    {% endfor %}

    var links = [];
    {% for id, connected_nodes in links.items()%}
        links.push(
          {
            'source': {{connected_nodes[0]}},
            'target': {{connected_nodes[1]}},
            'left'  : 'true',
            'right' : 'false',
          }
        )
    {% endfor %}

    var node_img="{{ url_for('static', filename='img/black_dot.png')}}";

  </script>

</head>
<body>
  {% include 'header.html' %}

    <div class="main_content">

      {% include 'network_details.html' %}

        <ul id="network-tabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" id="statictab">
                <a data-toggle="tab">Graph View</a>
            </li>
            <li role="presentation" id="listtab">
                <a data-toggle="tab">List View</a>
            </li>
        </ul>

        <div id="tab-contents"> <!--This is just to provide some styling rules to the tab contents overall -->

      <div id="graph_container">
            <div id="graph"></div>
            <div id="nodeproperties">
                <table >
                    <tr><th>Property</th><th>Value</th></tr>
                </table>
            </div>
        </div> <!-- graph_container -->

       {% include 'nodesandlinks.html' %}

        </div> <!-- tab-contents -->

      </div> <!-- main_content -->

        <!-- this needs to be updated and turned into a tooltip that can be hidden -->
        <div><h1>Instructions</h1>
          <ul>
              <li>Left-click to add a new node or select existing node.</li>
              <li>Left-click and drag between nodes to create a new edge.</li>
              <li>Ctrl + Left-click and drag to move a node.</li>
              <li>Right-click to pan around the graph.</li>
              <li>Wheel mouse to zoom.</li>
              <li>Delete to remove node.</li>
          </ul>
        </div>

        {% include 'footer.html' %}
0
        <!--Include css & javascript-->
        {% include 'master.html' %}

        <script src="http://d3js.org/d3.v3.min.js"></script>
  <script type='text/javascript' src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"> </script>

        <script src="{{url_for('static', filename='js/network_displayer.js')}}"></script>
        <script src="{{url_for('static', filename='js/hydra.js')}}"></script>
        <script src="{{url_for('static', filename='js/network.js')}}"></script>

        <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
    </body>
</html>
