<!DOCTYPE html>
<html>
<head>
  <title>Network {{network.network_name}}</title>

  <script>
  // set up initial nodes and links
  //  - nodes are known by 'id', not by index in array.
  //  - reflexive edges are indicated on the node (as a bold black circle).
  //  - links are always source < target; edge directions are set by 'left' and 'right'.
    var scenario_id={{scenario_id}};

    var min_x = {{extents['min_x']}};
    var max_x = {{extents['max_x']}};
    var min_y = {{extents['min_y']}};
    var max_y = {{extents['max_y']}};

    var nodes = [];
    var node_coords = {};
    var lastNodeId = null;
    {% for id, coord in node_coords.items()%}
      nodes.push(
        {
          'id': {{id}},
          'reflexive':false,
          'x':{{coord[0]}},
          'y':{{coord[1]}},
        }
      )
      lastNodeId={{id}};
      node_coords[{{id}}] = [{{coord[0]}}, {{coord[1]}}];
    {% endfor %}

    var links = [];
    {% for id, nodes in links.items()%}
        links.push(
          {
            'source': {{nodes[0]}},
            'target': {{nodes[1]}},
            'left'  : 'true',
            'right' : 'false',
          }
        )
    {% endfor %}

    var node_img="{{ url_for('static', filename='img/black_dot.png')}}";

  </script>

</head>
<body>
  {% include 'header.html' %}

    <div class="main_content">

      <div id="network_details">
        <table id="network_table" class="">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Projection</th>
            </tr>
          </thead>
          <tbody>
            <tr id="network_{{network.network_id}}" class="tablerow networkrow">
                <td>{{network.network_name}}</td>
                <td>{{network.network_description}}</td>
                <td>{{network.projection}}</td>
            </tr>
          </tbody>
      </table>

        <table class="table table-bordered table-striped">
        <thead>
            <th class="expand_table">&darr;</th>
            <th class="graph_head"> </th><!--For the 'graph' column-->
            <th>Attribute</th>
            <th>Value</th>
        </thead>
        <tbody id='network_{{network.network_id}}_attributes' class='attributes' {{'x' if True else 'y'}}>
            {% for attr in network.attributes %}
                <tr class="attribute
                        {{'isvar' if attr.is_var == 'Y' else 'notvar'}}
                        {{attr.value.data_type if not attr.value else ''}}">
                    <td class="expand_row">&rarr;</td>
                    <td class="graph_dataset" url="url_for('graph')">
                            <div><img src="{{url_for('static', filename='/img/graph.png')}}"/></div>
                    </td>
                    <td>{{attr.name}}</td>
                    <py:if test="attr.value is not None">
                        <td class="attrval">
                            <div class="value contents">{{"%s..."%attr.value.value[:100] if len(attr.value.value) > 500 else attr.value.value}}</div>
                            <div class="value hidden">{{attr.value.value}}</div>
                            <table class="hidden ts_table"></table>
                        </td>
                    </py:if>
                    <py:if test="attr.value is None">
                        <td class="value nodata">-</td>
                    </py:if>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="graph_container">
            <div class="tabs">
                <div id="statictab" class="tab selected">Graph View</div>
                <div id="mapstab" class="tab">Map View</div>
                <div id="listtab" class="tab">List View</div>
            </div>



        <div id="graph"></div>
        <div id="nodeproperties">
            <table >
                <tr><th>Property</th><th>Value</th></tr>
            </table>
        </div>

        <div>
            <ul id="graph_list"></ul>
        </div>
        </div>
      </div>

        <div id="nodesandlinks" class="hidden">
            <div class="tabs">
                <div id="nodetab" class="tab selected">Nodes</div>
                <div id="linktab" class="tab">Links</div>
            </div>
        <div>
        <table id="nodetable" class="display hidden">
          <thead>
            <tr>
              <th>Node Name</th>
              <th>Node Description</th>
              <th>X</th>
              <th>Y</th>
            </tr>
          </thead>
          <tbody id='nodes'>
          {% for node in network.nodes %}
            <tr id="node_{{node.node_id}}" class="tablerow noderow">
                <td>{{node.node_name}}</td>
                <td>{{node.node_description}}</td>
                <td>{{node.node_x}}</td>
                <td>{{node.node_y}}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
        <table id="linktable" class="display">
          <thead>
            <tr>
              <th>Link Name</th>
              <th>Link Description</th>
              <th>Start Node</th>
              <th>End Node</th>
            </tr>
          </thead>
          <tbody id='links'>
          {% for link in network.links %}
            <tr id="link_{{link.link_id}}" class="tablerow linkrow">
                <td>{{link.link_name}}</td>
                <td>{{link.link_description}}</td>
                <td>{{node_name_map[link.node_1_id]}}</td>
                <td>{{node_name_map[link.node_2_id]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        </div>
    </div>

    <div><h1>Instructions</h1>
      <ul>
          <li>Left-click to add a new node or select existing node.</li>
          <li>Left-click and drag between nodes to create a new edge.</li>
          <li>Ctrl + Left-click and drag to move a node.</li>
          <li>Right-click to pan around the graph.</li>
          <li>Wheel mouse to zoom.</li>
          <li>Delete to remove node.</li>
      </ul>
    </div>

    {% include 'footer.html' %}

    <!--Include css & javascript-->
    {% include 'master.html' %}

    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script src="{{url_for('static', filename='js/app.js')}}"></script>
    <script src="{{url_for('static', filename='js/hydra.js')}}"></script>
    <script src="{{url_for('static', filename='js/network.js')}}"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
</body>
</html>
