<div class="modal fade" tabindex="-1" role="dialog" id="clone_scenario_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Clone a Scenario</h4>
      </div>
      <div class="modal-body">
          <form id="clone-scenario" action="clone_scenario" type="POST" class="tab-pane fade in active">

            <table class="table">
                <tr>
                    <td>
                        <label>Scenario to Clone</label>
                    </td>
                    <td>
                        <select class="scenariopicker selectpicker">
                            {% for s in network.scenarios%}
                                <option value="{{s.scenario_id}}"
                                        {%if s.scenario_id==scenario_id%}
                                            selected
                                        {%endif%}
                                    >
                                    {{s.scenario_name}}
                                </option>
                            {%endfor%}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="scenario-name-input">Name</label></td>
                    <td><input id="scenario-name-input" type="text" name="name" value=""></input></td>
                </tr>
            </table>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-clone-scenario-button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="clone-scenario-button" class="btn btn-success">
            <i class="fa fa-spinner fa-spin hidden"></i>
            Clone
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="group-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create a new Group</h4>
      </div>
      <div class="modal-body">
          <form id="create-group" action="create_group" type="POST" class="tab-pane fade in active">
            <input id="group-scenario-id-input" name="scenario_id" value="" type="hidden"></input>
            <input id="group-id-input" name="group_id" value="" type="hidden"></input>
            <table class="table">
                <tr>
                    <td>
                        <label for="group-name-input">Name</label>
                    </td>
                    <td>
                      <input id="group-name-input" type="text" name="name"></input>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="group-type-input">Type</label>
                    </td>
                    <td>
                      <select id="group-type-input" class="selectpicker" name="type"></select>
                    </td>
                </tr>
                <tr>
                    <td><label for="group-items-input">Contents</label></td>
                    <td>
                      <select id="group-items-input"
                                name="group-items"
                                class="selectpicker"
                                multiple data-selected-text-format="count"
                                data-actions-box="true"
                                data-live-search="true">
                        <optgroup label="Nodes" id="group-nodes-select">
                        </optgroup>
                        <optgroup label="Links" id="group-links-select">
                        </optgroup>
                        <optgroup label="Groups" id="groups-group-select">
                        </optgroup>
                      </select>
                    </td>
                </tr>
            </table>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-group-button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="create-group-button" class="btn btn-success hidden">
            <i class="fa fa-spinner fa-spin hidden"></i>
            Create
        </button>
        <button type="button" id="update-group-button" class="btn btn-success hidden">
            <i class="fa fa-spinner fa-spin hidden"></i>
            Save
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" tabindex="-1" role="dialog" id="delete-group-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Deleting <span class='group-name'></span></h4>
      </div>
      <div class="modal-body">
          <form id="delete-group" action="create_group" type="POST" class="tab-pane fade in active">
            <input id="delete-group-id-input" name="group-id" value="" type="hidden"></input>
            Are you sure you want to delete <span class='group-name'></span>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-delete-group-button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="delete-group-button" class="btn btn-danger">
            <i class="fa fa-spinner fa-spin hidden"></i>
            Delete
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
