<div id="nodesandlinks" class="hidden">
    <ul class="nav nav-tabs">
        <li id="nodetab">
            <a href="#nodelist" role="tab" data-toggle="tab">
                Nodes
            </a>
        </li>
        <li id="linktab">
            <a href="#linklist" role="tab" data-toggle="tab">
                Links
            </a>
        </li>
        <li id="grouptab">
            <a href="#grouplist" role="tab" data-toggle="tab">
                Groups
            </a>
        </li>
    </ul>

    <div class="tab-content">
      <div id="nodelist" class="tab-pane fade in active">
        <table id="nodetable" class="display">
            <thead>
              <tr>
                <th>Node Name</th>
                <th>Node Description</th>
                <th>X</th>
                <th>Y</th>
                <th></th>
              </tr>
            </thead>
            <tbody id='nodes'>
            {% for node in network.nodes %}
              <tr id="node_{{node.node_id}}" class="tablerow noderow">
                  <td>{{node.node_name}}</td>
                  <td>{{node.node_description}}</td>
                  <td>{{node.node_x}}</td>
                  <td>{{node.node_y}}</td>
                  <td>
                    <span id="edit-node-{{node.node_id}}" type='button' class='edit-node btn btn-default btn-s'>
                    <span class="fa fa-pencil"></span></span>
                    <span id="delete-node-{{node.node_id}}" type='button' class='delete-node pull-right btn btn-default btn-s btn-danger'>
                    <span class="fa fa-trash"></span></span>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>

      <div id="linklist" class="tab-pane fade">
        <table id="linktable" class="display">
            <thead>
              <tr>
                <th>Link Name</th>
                <th>Link Description</th>
                <th>Start Node</th>
                <th>End Node</th>
                <th></th>
              </tr>
            </thead>
            <tbody id='links'>
            {% for link in network.links %}
              <tr id="link_{{link.link_id}}" class="tablerow linkrow">
                  <td>{{link.link_name}}</td>
                  <td>{{link.link_description}}</td>
                  <td>{{node_name_map[link.node_1_id]}}</td>
                  <td>{{node_name_map[link.node_2_id]}}</td>
                  <td>
                    <span id="edit-link-{{link.link_id}}" type='button' class='edit-link btn btn-default btn-s'>
                    <span class="fa fa-pencil"></span></span>
                    <span id="delete-group-{{link.link_id}}" type='button' class='delete-link pull-right btn btn-default btn-s btn-danger'>
                    <span class="fa fa-trash"></span></span>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
      </table>
    </div>

    <div id="grouplist" class="tab-pane fade">
      <div class='new-group btn btn-sm btn-primary'>
        <span class='fa fa-plus'>
        </span> Create A Group
      </div>
      <table id="grouptable" class="display">
            <thead>
              <tr>
                <th>Group Name</th>
                <th>Group Type</th>
                <th>Contents</th>
                <th></th>
              </tr>
            </thead>
            <tbody id='groups'>
            {% for g in network.resourcegroups %}
              <tr id="group_{{g.group_id}}" class="tablerow grouprow">
                  <td class="group-name">{{g.group_name}}</td>
                  <td class="type-name">{%if g.types%}{{g.types[0].templatetype.type_name}}{%endif%}</td>
                  <td class="contents"><div class="groupcontentsummary"> {{resourcegroupitems.get('group-'+g.group_id|string, {}).get('NODE', [])|length}}</div> Nodes</td>
                  <td class="buttons">
                    <span id="edit-group-{{g.group_id}}"
                    type='button'
                    class='edit-group btn btn-default btn-s'
                    >
                    <span class="fa fa-pencil"></span></span>
                    <span id="delete-group-{{g.group_id}}" type='button' class='delete-group pull-right btn btn-default btn-s btn-danger'>
                    <span class="fa fa-trash"></span></span>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
      </table>
    </div>
  </div> <!-- tab content -->
</div>
