{% extends "page_layout.html" %}
{% block title %}Project {{project.project_name}}{% endblock %}
{% block content %}

    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <title>Project {{project.project_name}}</title>

    <script src="{{url_for('static', filename='js/project.js')}}"></script>

    <script>
    var project_id={{project.project_id}};
    var add_network_url = "{{url_for('do_create_network')}}"
    var go_network_url = "{{url_for('go_network', network_id=XXX)}}"
    </script>

    <div id="network-container" class="container-fluid">

        <h3>{{project.project_name}}</h3>

        <div class="container-fluid grid">
            <ul class="list-unstyled row">
                {% for network in project.networks %}
                    <li id="network_{{network.network_id}}"
                    class="network col-sm-2">
                        <a type="button"
                            class="btn btn-lg link"
                            href="{{url_for('go_network', network_id=network.network_id)}}"
                            alt="{{network.network_name}}"
>
                            <span>
                                <div class="head">
                                {{network.network_name}}
                                </div>
                            </span>
                        </a>
                    </li>
                {% endfor %}
                <li type="button" class="col-sm-2"
                    data-toggle="modal" data-target="#add_network_modal">
                        <span class="btn btn-lg link" data-toggle="modal" data-target="#add_project_modal">
                            <span class="glyphicon glyphicon-plus"></span>
                        </span>
                </li>
            </ul>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="add_network_modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create a Network</h4>
          </div>
          <div class="modal-body">
              <form id="create-network" action="create_network" type="POST">
                <input type="hidden" name="project_id" value="{{project.project_id}}">
                <table class="table">
                <tr>
                    <td><label for="network-name-input">Name*</label></td>
                    <td><input id="network-name-input" type="text" name="name" value=""></input></td>
                </tr>
                <tr>
                    <td><label for="network-description-input">Description</label></td>
                    <td><input id="network-description-input" type="text" name="description" value=""></input></td>
                </tr>
                <tr>
                    <td><label for="network-template">Network Type*</label></td>

                    <td>
                        <select id="network-template">
                            <option value="">
                                -
                            </option>
                            {%for network_type in all_network_types%}
                                <option class="template" value="{{network_type.type_id}}">
                                        {{network_type.type_name}}
                                </option>
                            {%endfor%}
                        </select>

                    </td>

                </tr>
                </table>
                <div>* This is mandatory</div>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="close-create-network-button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="create-network-button" class="btn btn-success" data-dismiss="modal">Create</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button>-->
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% include 'run_app.html' %}
{% endblock %}


