{% extends "page_layout.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<script>
    $(document).ready(function() {
     $("#export_data").hide();
});
</script>
    <div class="container-fixed">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Project Name</th>
              <th>Project Description</th>
            </tr>
          </thead>
          <tbody>
          {% for p in projects %}
            <tr>
                <td><a href="{{ url_for('go_project', project_id=p.project_id, _external=True) }}">{{ p.project_name }}</a></td>
                <td><a href="{{ url_for('go_project', project_id=p.project_id, _external=True) }}">{{ p.project_description }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}
