{% extends "page_layout.html" %}
{% block title %}Templates{% endblock %}
{% block content %}

    <div id="template-container" class="container-fluid">

        <h3>Templates</h3>

        <div class="container-fluid grid">
            <ul class="list-unstyled row">
                {% for t in templates %}
                    <li id="template-{{t.template_id}}" class="col-sm-3">
                        <a type="button"
                           class="btn btn-lg link"
                           href="{{url_for('go_template', template_id=t.template_id)}}">
                        {{t.template_name}}
                        </a>
                    </li>
                {% endfor %}
                <li id="add-template" class="col-sm-3">
                        <a type="button"
                           class="btn btn-lg link new-btn"
                           href="{{url_for('go_new_template')}}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>

                </li>
            </ul>
        </div>
    </div>
{% endblock %}


