<td class="typeattrs">Attributes:
    <select  class="{%if resourcetype%}selectpicker{%endif%}" multiple=multiple>
        {%for attr in all_attrs%}
        <option value="{{attr.attr_id|int}}"
                {%if resourcetype and attr.attr_id in typeattr_lookup[resourcetype.type_id]%}
                selected="selected"
                {%endif%}
         >
            {{attr.attr_name}} ({{attr.attr_dimen}})
        </option>
        {%endfor%}
    </select>
    <button type="button" class="btn btn-primary btn-small" 
        data-toggle="modal" data-target="#add_attr_modal">
        <span class="glyphicon glyphicon-plus"></span> 
    </button>
</td>
