<plugin_info>
    <plugin_name>Export JSON</plugin_name>
    <plugin_dir>ExportCSV.exe</plugin_dir>
    <plugin_description>Export a network saved in Hydra to a JSON file.</plugin_description>
    <plugin_epilog>
        Written by Stephen Knox stephen.knox@manchester.ac.uk
        (c) Copyright 20135, University of Manchester.
        For more information visit www.hydra-network.com
    </plugin_epilog>
    <smallicon>icon16.png</smallicon>
    <largeicon>icon32.png</largeicon>
    <mandatory_args>
        <arg>
            <name>Network ID</name>
            <switch>-n</switch>
            <multiple>N</multiple>
            <argtype>network</argtype>
            <help>The ID of the network to be exported</help>
        </arg>
    </mandatory_args>
   <non_mandatory_args>
       <arg>
           <name>Scenario ID</name>
           <switch>-s</switch>
           <multiple>N</multiple>
           <argtype>scenario</argtype>
           <help>The ID of the scenario to be exported. If no
                 scenario is specified, all scenarios in the network will be
                 exported.
            </help>
        </arg>
       <arg>
           <name>Target Dir</name>
           <switch>-d</switch>
           <multiple>N</multiple>
           <argtype>string</argtype>
           <help>The directory / folder you wish the file to export to. This defaults
           to the Desktop.</help>
        </arg>
        <arg>
            <name>Server URL</name>
            <switch>-u</switch>
            <multiple>N</multiple>
            <argtype>string</argtype>
            <help>The URL of the server to which this
                        plug-in connects.</help>
        </arg>
        <arg>
            <name>Session ID</name>
            <switch>-c</switch>
            <multiple>N</multiple>
            <argtype>string</argtype>
            <help>The session ID for the connection. If not specified,
            the plugin will try to connect based on the credentials it finds in config</help>
        </arg>
    </non_mandatory_args> 
    <switches>
        <arg>
            <name>Export as XML</name>
            <switch>-x</switch>
            <help>Export as an XML file instead of a JSON file.</help>
        </arg>
    </switches>
 </plugin_info>
